	@font-face{
	font-family:"Segoe";
	src:url("../fonts/segoui.ttf");
}

body{
font-family:"Segoe";
    font-weight: 600;
}
.fsttext
{
	font-size: 12px;

}
.first
{
	margin-top: 33px;
}
.textcol
{
	margin-top: 29px;
	margin-left: -75px;
}
.plne
{
	color:pink;
	 color:#FF5D78;
}
.imgcol
{
	/*margin-left: 1%;*/
	padding-left: 2%;
}
.icon
{
	margin-left: 36.88%;
	margin-top: 24px;
}
@media(min-width: 992px){
.bnglrcol
{
	margin-left: -64px;
}
}
.bnglrcol
{
	margin-top: 28px;
}
.bnglr
{
	font-size: 12px;
}
.banner
{

	background: url(../images/Banner.jpg);
	background-size: cover;
	   height: 575px;
	   /* margin-top: 10px;*/
	   z-index: -1;
    margin-top: 10.2%;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 50px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 19px 12px;
    pointer-events: none;
    color:#FF5D78;
}
.fst
{
	
    height: 51px;
    width: 68%;
    border: inherit;
    border-radius: inherit;
    border-style: solid;
    border-color: #FF5D78;
    border-width: 2px;

}
.dropdown
{
	    margin-top: 10.9%;
    margin-left: 24.5%;
}
.fst:-ms-input-placeholder {  
color:black !important;  }

.fst::-webkit-input-placeholder {
   color:black ;
}

.fst:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

.fst::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}
.navbar-inverse
{
	background-color: #676867;
	border:inherit;
	border-radius: inherit;
	margin-top: 12px;
}
.navbar-brand 
{
	padding: 15px 50px;
}
.navbar
{
	margin-bottom: inherit;
}
.third
{
	margin-top: 42px;
	margin-bottom: 42px;
}
.buildercol
{
	margin-left: 20.5%;
}
.scndtext
{
	font-size: 15pt;
}
.thirdcontainer
{
	background:#F0F0F0;
}
 h2
{
	text-align: center;
	margin-bottom: 24px;
}
.you
{
	margin-left: 31%;
	margin-top: 12px;
}

.bigimg
{
	margin-left: 15%;
}
.fivth
{
	margin-top: 45px;
}
.mrbob
{
	position:relative;
}
.btn1 
{
	position:absolute;
	top: 46%;
    right:40%;
    background-color:#01BBB6;
    border: inherit;
    width: 200px;
    height: 32px;
}
.spn2
{
	font-size:15px;
}
h4
{
	text-align: center;
	margin-top: 41px;
}
.wnt
{
	text-align: center;
	margin-top: 52px;
	font-size: 12px;
	margin-bottom: 28px;
	
}
.callus
{
	text-align: center;
	margin-top: 24px;
	font-size: 12px;
	margin-bottom: 28px;
	
	
}
.abt
{
	text-align: center;
	margin-top: 24px;
	font-size: 12px;
	margin-bottom: 28px;
	
}
.all
{
text-align: center;
	margin-top: 24px;
	font-size: 12px;
}
.lst
{
	/*background:#F0F0F0;*/

background: url(../images/fullarrow.jpg);
	background-size: cover;
	   height: 300px;
	   color:white;
	    /*border-top-width: 1px;
             border-top-style: solid;*/

}
.fstheading
{
	font-size: 60px;
    color: white;
    margin-top: 16.1%;
   text-align: center; /*margin-left: 27%;*/
   font-weight: 500;
}
.secondheading
{
	font-size: 24px;
    color: white;
  text-align: center; /* margin-left: -4%;*/
    margin-top: -.3%;
}
@media(max-width: 768px){
	.fstheading
	{
	font-size: 23px;
    color: white;
    margin-top: 11.1%;
    
	}
	.secondheading
	{
	font-size: 13px;
    color: white;
    
    margin-top: -1.3%;
	}
	.dropdown 
	{
    margin-top: -3.2%;
    margin-left: 21.3%;
    }

.banner
	{
background: url(../images/Banner.jpg);
    background-size: cover;
    height: 161px;
    margin-top: 45%;
	}
	.left-inner-addon i
	{
padding: 16px 12px;
	}
	.fst
	{
width: 75%;
height: 45px;
    }
    .bannercol
	{
margin-top: 24.5%;
	}
	.scndtext
	{
font-size: 11pt;
    margin-left: -34px;
	}
	.you
	{
		margin-left: inherit;
	}
	.btn1
	{
		position: absolute;
    top: 46%;
    right: 31%;
    background-color: #01BBB6;
    border: inherit;
    width: 110px;
    height: 32px;
	}
	.spn2
	{
font-size: 9px;
	}
	.textcol
	{
		margin-top: 0px;
    margin-left: 0px;
	}
	.icon
	{
margin-left: 0px;
    margin-top: 0px; 
	}
	.bnglrcol
	{
margin-top:0px;
	}
	.imgcol
	{
		margin-left: 1%;
	}
	.builderis
	 {
    color: white!important;
    position: absolute!important;
    margin-top: -32px!important;
    font-size: 10px!important;
    margin-left: -28px;
}
.img1
{
width:inherit;
}
.imhcol2
{
margin-top:10px;
}
.imgcol3
{
margin-top:10px;
}
.seeall 
{
    margin-left: 4.3%!important;
}
.hwitsworks
{
font-size:30px!important;
}
.spn12 
{
    font-size: 10px!important;
}
.forth 
{
    background: url(../images/img4.jpg);
    background-size: cover;
    height: 208px!important;
}
.tabspn
{
	padding-left:20px!important;
	font-size:12px!important;
}
}
.jstfory
{
	font-size: 30px;
	text-align:center;
	line-height: 1;
}
.ins
{
	font-size: 19px;
	text-align:center;
}
.inner
{
	margin-top: 37px;
}
.seeall
{
	margin-left: 35.9%;
}
.alll
{
	height:36px;
	width: 83.5%;
	/*border:inherit;*/
	border-radius: inherit;
	border-style: solid;
    /*border-color: #FF5D78;*/
    border-width: 1px;
}
.formcntrl
{
	margin-bottom: 42px; 
}
.img1
{
	width:100%;
}
.img2
{
	width:100%;
}
.img3
{
	width:100%;
}
.forth
{

	background: url(../images/img4.jpg);
	background-size: cover;
	   height: 575px;
	    
}
.hwitsworks
{
	text-align: center;
	color:white;
	font-size: 60px;
	margin-top: 17%;
	font-weight:500;
}
.spn12
{
	font-size: 19px;
        color: white;
       text-align: center;
}
.play
{
	margin-left: 47%;
    color: white;
}
.playyy
{
	    margin-left: 47.8%;
    margin-top: 2.6%;
    cursor: pointer;

}
.builderis
{
	color:white;
	position: absolute;
    margin-top: -178px;
    font-size: 19px;
}
.imgcol1
{
	position:relative;
}
.architec
{
	position: absolute;
    margin-top: -52%;
    margin-left: 30.5%;
    color: white;
    font-size: 30px;
}
.imhcol2
{
	position:relative;
}
.int
{
	position: absolute;
    margin-top: -52%;
    margin-left: 17%;
    color: white;
    font-size: 30px;
}
.imgcol3
{
	position:relative;
}
.modular
{
	position: absolute;
   margin-top: -55%;
    margin-left: 68px;
    color: white;
    font-size: 30px;
    text-align: center;
}
.abt
{
	margin-left: 7px;
}
.cnt
{
margin-left: 7px;

}
.faq
{
margin-left: 7px;

}
.fsti
{
margin-left: 7px;	
}
.scndi
{
	margin-left: 7px;
}
.ftr1
{
	margin-left: 7px;
}
.ftr2
{
	margin-left: 7px;
}
.ftr3
{
	margin-left: 7px;
}
.ftr4
{
	margin-left: 7px;
}
.ftr5
{
	margin-left: 7px;
}
.ilst
{
	margin-left: 5px;
}
.seeall input {
    padding-left: 68px;
color:black!important;    
}
.abt a
{
color:white !important;
text-decoration:none;
}
.cnt a
{
color:white !important;
text-decoration:none;
}
.dropdown-menu
{
width: 68%;
}
@media(min-width:801px) and (max-width:1024px){
.textcol 
{
    margin-top: 29px;
    margin-left: -48px;
}
.fsttext 
{
    font-size: 11px;
}
.icon 
{
    margin-left: 33.88%;
    margin-top: 24px;
}
.bnglrcol 
{
    margin-left: -64px;
}
.socil 
{
    font-size: 57px;

}
.builderis 
{
    color: white;
    position: absolute;
    margin-top: -178px;
    font-size: 16px;
}
.bannercol 
{
    margin-left: 24%;
    margin-top: 46.2%;
}
}
@media(min-width:1600px){
.banner 
{
    background: url(../images/Banner.jpg);
    background-size: cover;
    height: 674px;
    margin-top: 10px;
}

}
@media(min-width:1920px){
	
	.forth {
    background: url(../images/img4.jpg);
    background-size: cover;
    height: 750px;
}
}
.nav-tabs
{
	border-width: 1px;
    border-style: solid;
    border-color:  #ccc;
    width: 99%;
    border-bottom: 1px solid #ccc;

}
.nav-tabs li
{
	margin-bottom: inherit;
}
.nav-tabs li a
{
	border: inherit;
    border-radius: inherit;
}

.tabsecond
{
	width: 118%;
}
.tabspn
{
	 padding-left: 46px;
    color: black;
    font-size: 15px;
}
.fixed{    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #fff;
}
.navbar-inverse .navbar-nav li a
{
	color:white !important;
	cursor: pointer;
}
.navbar-inverse .navbar-nav li a:hover
{
    color: pink!important;

}

