@font-face{
	font-family:"Segoe UI Semilight";
	src:url("http://www.myfontfree.com/data/541/s/segoeuisl/segoeuisl.ttf");
}
.fsttext
{
	font-size: 12px;

}
.first
{
	margin-top: 33px;
}
.textcol
{
	margin-top: 1px;
	margin-left: -48px;
}
.plne
{
	color:pink;
	 color:#FF5D78;
}
.imgcol
{
	/*margin-left: 1%;*/
	
}
.icon
{
	margin-left: 33.88%;
	margin-top: 24px;
}
@media(min-width: 992px){
.bnglrcol
{
	margin-left: -64px;
}
}
.bnglrcol
{
	margin-top: 28px;
}
.bnglr
{
	font-size: 13px;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 50px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 19px 12px;
    pointer-events: none;
    color:#FF5D78;
}
.fst
{
	height:51px;
	width:172%;
	border:inherit;
	border-radius: inherit;
	border-style: solid;
    border-color: #FF5D78;
    border-width: 1px;
}
.fst:-ms-input-placeholder {  
color:black !important;  }

.fst::-webkit-input-placeholder {
   color:black ;
}

.fst:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

.fst::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}
.navbar-inverse
{
	background-color: #676867;
	border:inherit;
	border-radius: inherit;
	margin-top: 12px;
}
.navbar-brand 
{
	padding: 15px 83px;
}
.navbar
{
	margin-bottom: inherit;
}
.showing
{
	font-size: 19px;
}
.second
{
	margin-top: 3%;
}
.hr1
{
	/*color:#ebecec !important;*/
	border-top: 1px solid  #B8C3C3;
}
.rated
{
	font-size: 13px;
}
.fstimg
{
	margin-top: 30px!important;
	margin-bottom: 30px!important;
}
.third
{
	margin-top: 11px;
}
.scndimg
{
	height: 285px;
margin-top: 50px;
}
.imgsecndcol
{
	padding:0px;
}
.fstlist
{
	float:left;
	list-style: none;
	padding:0px;
}
.iteams1
{
	float:left;
}
.iteams12
{
	float:left;
	padding-left: 200px;
}
.fstfont
{
	float:left;
	padding-left: 13px;
}

.sub2
{
	margin-top: 21px;
	background: white;
    margin-left: 1;
       padding-bottom: 18px;





}
.imgsubcol 
{
	margin-top: 20px;
}
.subcntntcol
{
	margin-top: 14px;
}
.sub3
{
	margin-top:9px;
	background: white;
    margin-left: 1;
    padding-bottom: 14px;
}
.bg
{
	background-color: #ebecec;
}
.modal-header 
{
   
    border: none;!important;
}
.modal-footer
{
	 border: none;!important;

}
.brd
{
	width: 75%;
    height: 48px;
     border-color: #FF5D78
}
.brd1
{
    width: 75%;
    height: 80px;	
    border-color: #FF5D78
}
.btn-default
{
border-color: #FF5D78
}
.modal-header .close
{ 
	color:#FF5D78;
}
.btn-default:hover
{
	background-color: white;
}
.brd1:-ms-input-placeholder {  
color: #FF5D78!important;  }

.brd1::-webkit-input-placeholder {
   color: #FF5D78 ;
}

.brd1:-moz-placeholder { /* Firefox 18- */
   color:  #FF5D78;  
}

.brd1::-moz-placeholder {  /* Firefox 19+ */
   color:  #FF5D78;  
}

.brd:-ms-input-placeholder {  
color: #FF5D78!important;  }

.brd::-webkit-input-placeholder {
   color: #FF5D78 ;
}

.brd:-moz-placeholder { /* Firefox 18- */
   color:  #FF5D78;  
}

.brd::-moz-placeholder {  /* Firefox 19+ */
   color:  #FF5D78;  
}
.spn
{
	color: #FF5D78;
}
.modal-title
{
	color: #FF5D78;
}
.modal-content
{
	border-width:1px;
	border-style: solid;
	color: #FF5D78;
}
.btn1
{
	width: 35%;
    height: 34px;
    border-radius: 18;
    border-width: 1px;
    border-radius: 35;
    margin-left: 18%;
    margin-top: 3%;
   background-color: #FF5D78;
}



.wnt
{
	text-align: center;
	margin-top: 52px;
	font-size: 13px;
	margin-bottom: 28px;
	
}
.callus
{
	text-align: center;
	margin-top: 24px;
	font-size: 13px;
	margin-bottom: 28px;
	
	
}
.abt
{
	text-align: center;
	margin-top: 24px;
	font-size: 13px;
	margin-bottom: 28px;
	
}
.all
{
text-align: center;
	margin-top: 24px;
	font-size: 13px;
}
.lst
{
	/*background:#F0F0F0;*/

background: url(../images/fullarrow.jpg);
	background-size: cover;
	   height: 300px;
	   color:white;

	

}
.socil
{
	
	position: absolute;
    color: white;
    font-size: 60px;
    margin-top: -269px;
    margin-left: 73px;
}
.abt
{
	margin-left: 7px;
}
.cnt
{
margin-left: 7px;

}
.faqand
{
margin-left: 7px;

}
.fsti
{
margin-left: 7px;	
}
.scndi
{
	margin-left: 7px;
}
.ftr1
{
	margin-left: 7px;
}
.ftr2
{
	margin-left: 7px;
}
.ftr3
{
	margin-left: 7px;
}
.ftr4
{
	margin-left: 7px;
}
.ftr5
{
	margin-left: 7px;
}
.ilst
{
	margin-left: 5px;
}
.abt a
{
color:white !important;
text-decoration:none;
}
.cnt a
{
color:white !important;
text-decoration:none;
}
.sbmit
{
	font-size: 23px;
    color: black;
    font-weight: 600;
}




@media(max-width:768px){
	.fst 
	{
    
    width: 100%;
   
}
.icon 
{
     margin-left: 0px; 
    margin-top: 24px;
}
.textcol {
    margin-top: 1px;
     margin-left: 0px; 
}
.iteams12 {
    float:none;
    padding-left: 0px;
}

}
 .third1
 {
 	margin-top: 11px;
 	margin-bottom: 20px;
 }
body, html {
  height: 100%;
}
.bodywrapper {
  overflow: auto;
  height: 100%;
}

/* unset bs3 setting */
.modal-open {
 overflow: auto; 
}

/* extra stetting for fixed navbar, see bs3 doc
*/

.sub4
{
	margin-top: 33px;
}
.btnfollow
{
	width: 100px;
    height: 33px;
    background: white;
    border-width: 2px;
    border-style: solid;
    margin-left: 7px;
}