@font-face{
	font-family:"Segoe UI Semilight";
	src:url("http://www.myfontfree.com/data/541/s/segoeuisl/segoeuisl.ttf");
}
.fsttext
{
	font-size: 12px;

}
.first
{
	margin-top: 33px;
}
.textcol
{
	margin-top: 1px;
	margin-left: -48px;
}
.plne
{
	color:pink;
	 color:#FF5D78;
}
.imgcol
{
	/*margin-left: 1%;*/
	padding-left: 2%;
}
.icon
{
	margin-left: 33.88%;
	margin-top: 24px;
}
@media(min-width: 992px){
.bnglrcol
{
	margin-left: -64px;
}
}
.bnglrcol
{
	margin-top: 28px;
}
.bnglr
{
	font-size: 13px;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 50px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 19px 12px;
    pointer-events: none;
    color:#FF5D78;
}
.fst
{
	height:51px;
	width:172%;
	border:inherit;
	border-radius: inherit;
	border-style: solid;
    border-color: #FF5D78;
    border-width: 2px;
}
.fst:-ms-input-placeholder {  
color:black !important;  }

.fst::-webkit-input-placeholder {
   color:black ;
}

.fst:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

.fst::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}
.navbar-inverse
{
	background-color: #676867;
	border:inherit;
	border-radius: inherit;
	margin-top: 12px;
}
.navbar-brand 
{
	padding: 15px 135px;
}
.navbar
{
	margin-bottom: inherit;
}
.nav li a
{
	padding: 16px 4px;
}
.gallery
{
    display: inline-block;
    margin-top: 20px;
}
.fstheading
{
	font-size:20px;
}
.sub1
{
	font-size: 15px;
}
.fstimg
{
	margin-top: -4.5%;
    margin-left: 30.5%;
    position:absolute;
}
.fstcol 
{
	margin-top:30px;
}
.btn1
{
	float: right;
    margin-top: -3%;

	width: 100px;
    height: 33px;
    background: white;
    border-width: 2px;
    border-style: solid;
}
.hr1
{
	/*color:#ebecec !important;*/
	border-top: 1px solid  #B8C3C3;
	margin-top: 30px;
	margin-bottom:30px;
}
.official
{
	margin-top: 23px;
    margin-left: 18px;
}
.see
{
	margin-top: 23px;
    margin-left: 18px;
}
.sub3
{
	margin-top: 19px;
}
.detailscol
{
	background-color: wheat;
}
.spn1
{
	font-size: 17px;
}
.spn2
{
	font-size: 17px;
}
.est
{
	margin-top:16px;
}
.rating
{
	margin-top:16px;
}