@charset "utf-8";
/* CSS Document */
*{
    font-family: 'Roboto', sans-serif;
}
label.error {
    color: red;
    font-size: 12px;
    font-weight: normal;
}
/* css for vertical align middle a div*/
.vertical-center {
    height:100%;
    width:100%;
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.vertical-center > .container {
    max-width: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;        /* <-- reset the font property */
}
/* css for vertical align middle a div ends*/


.form-group {
    box-sizing: border-box;
    float: left;
    padding: 0 20px 0 0;
    width: 50%;
}
.form_btn_wrap{
    float: right;
    width: 100%;
    clear: both;
    text-align: right;
}
#page-wrapper{
    padding-bottom: 30px;
}
.apt-gal-item{
    display: table;    
    div{
        display: table-cell;
        padding-bottom: 10px;
        &:last-child{
            vertical-align: middle;
            padding: 0 0 0 10px;
        }
    }
}

table.dataTable {
    thead {
        .sorting, .sorting_asc, .sorting_asc_disabled, .sorting_desc, .sorting_desc_disabled{
            background: none !important;
        }
    }
}
.option-icons {
  display: inline-block;
  margin-right: 10px;
}