/* CSS Document */
@charset "utf-8";*{font-family:'Roboto',sans-serif}label.error{color:red;font-size:12px;font-weight:400}.vertical-center{height:100%;width:100%;text-align:center;font:0/0 a}.vertical-center:before{content:' ';display:inline-block;vertical-align:middle;height:100%}.vertical-center>.container{max-width:100%;width:100%;display:inline-block;vertical-align:middle;font:16px/1 "Helvetica Neue",Helvetica,Arial,sans-serif}.form-group{box-sizing:border-box;float:left;padding:0 20px 0 0;width:50%}.form_btn_wrap{float:right;width:100%;clear:both;text-align:right}#page-wrapper{padding-bottom:30px}.apt-gal-item{display:table}.apt-gal-item div{display:table-cell;padding-bottom:10px}.apt-gal-item div:last-child{vertical-align:middle;padding:0 0 0 10px}table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_desc_disabled{background:none!important}.option-icons{display:inline-block;margin-right:10px}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
