*{
    font-family: 'Open Sans', sans-serif;
}
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    padding-left: 3px;
    padding-right: 3px;
}
#header{
    margin: 0 0 15px 0;
    #logo{
        margin: 32px 0 0 0;
    }
    #location{
        font-size: 16px;
        margin: 56px 0 0 0;
        border: 0 none;
        background: none #fff;
        -webkit-appearance:none;
        -moz-appearance: none;
    }
}

#banner{
    background: url('../images/web/banner.jpg') no-repeat;
    background-size: cover;
    position: relative;
    @media (min-width: 767px) {
        min-height: 435px;
    }
    @media (max-width: 767px) {
        min-height: 350px;
    }
    #search-form{
        position: absolute; bottom: 50px; left: 0; right: 0;
        .form-group{
            max-width: 768px;
            margin: 0 auto;
            border: 1px solid #f90062;
            select{
                border: 0 none;
                border-radius: 0;
                background: none #fff;
                -webkit-appearance:none;
                -moz-appearance: none;
            }
            .btn{
                border: 0 none;
                background: none #fff;
                border-radius: 0;
                color: #f90062;
            }
        }
        @media (min-width: 767px) {
            margin: 10% 0 0 0;
        }
        h1{
            font-size: 60px;
            color: #fff;
            text-align: center;
            @media (max-width: 767px) {
                font-size: 30px;
            }
        }
        .input-group-btn{
            background: #fff;
        }
    }
}
#prof-group{
    .prof-group-item{
        border-bottom: 1px solid #adadad;
        &:last-child{
            margin-bottom: 40px;
        }
        .top-sec{
            padding: 25px 0;
            font-size: 16px;
            overflow: hidden;
            .add-review{
                color: #f90062;
                font-size: 40px;
                line-height: 18px;
                background: none;
                border: 0 none;
            }
        }
        .main-sec{
            .main-img{
                /*max-width: 480px;*/
                width: 100%;
                max-height: 254px;
                border: 1px solid #e6e5e5;
                box-sizing: border-box;
            }
            .proj-img{
                display: inline-block;
                margin-bottom: 5px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            .review-item{
                background: #ededed;
                padding: 15px 40px 15px 15px;
                min-height: 126px;
                margin-bottom: 5px;
                .reviewer-img{
                    float: left;
                    margin: 0 15px 0 0;
                    max-width: 76px;
                    width: 100%;
                    height: 90px;
                }
                p{
                    span{
                        font-weight: 600;
                    }
                    .star{
                        color: #f90062;
                    }
                    font-size: 16px;
                    margin-bottom: 0;
                }
            }
        }
        .bott-sec{
            padding: 25px 0;
            font-size: 16px;
            overflow: hidden;
            .follow{
                border-radius: 0;
            }
        }
    }
}
footer{
    margin: 0 0 0 0;
    padding: 40px 0 20px;
    background: rgba(249,0,98,0.8);
    h2{
        font-size: 54px;
        font-weight: 300;
    }
    .copy{
        font-size: 12px;
    }
    p {
        margin: 0 0 33px;
    }
    a {
        color: #1f315f;
    }
    .btn-section{
        background: url('../images/web/sprite.png') no-repeat;
        background-position: -217px 0;
        height: 41px;
        margin: 0 auto;
        margin-bottom: 52px;
        width: 23px;
        display: block;
        text-indent: -9999px;
    }
    .social-list {
        margin: 0 0 42px;
        text-align: center;
        padding-left: 0;
        li {
            display: inline-block;
            list-style: outside none none;
            margin: 0 0 0 12px;
            vertical-align: top;
            a {
                background: rgba(0, 0, 0, 0) url("../images/web/sprite.png") no-repeat scroll 0 0;
                display: block;
                height: 17px;
                overflow: hidden;
                text-indent: 9999px;
                width: 20px;
                &:hover {
                    background-position: 0 -30px;
                }
            }
            .facebook {
                margin-top: -4px;
            }
            .linkedin {
                margin: 0 0 0 14px;
            }
        }
        .facebook a {
            background-position: -26px 0;
            height: 21px;
            width: 11px;
            &:hover {
                background-position: -25px -24px;
            }
        }
        .instagram a {
            background-position: -43px 0;
            width: 17px;
            &:hover {
                background-position: -43px -28px;
            }
        }
        .linkedin a {
            background-position: -63px 0;
            width: 17px;
            &:hover {
                background-position: -63px -28px;
            }
        }
    }
    .text-box {
        display: block;
        font-size: 18px;
        line-height: 25px;
        margin: 0 0 52px;
    }
}