@font-face{
	font-family:"Segoe";
	src:url("../fonts/segoui.ttf");
}
body{
font-family:"Segoe";
    font-weight:600
}
.fsttext
{
	font-size: 12px;

}
.first
{
	margin-top: 33px;
}
.textcol
{
	margin-top: 1px;
	margin-left: -48px;
}
.plne
{
	color:pink;
	 color:#FF5D78;
}
.imgcol
{
	margin-left: 5.7%;
	/*padding-left: 2%;*/
}
.icon
{
	margin-left: 25.88%;
	margin-top: 22px;
}
@media(min-width: 992px){
.bnglrcol
{
	margin-left: -74px;
}
}
.bnglrcol
{
	margin-top: 25px;
}
.bnglr
{
	font-size: 12px;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 50px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 19px 12px;
    pointer-events: none;
    color:#FF5D78;
}
.fst
{
	height:51px;
	width:172%;
	border:inherit;
	border-radius: inherit;
	border-style: solid;
    border-color: #FF5D78;
    border-width: 2px;
}
.fst:-ms-input-placeholder {  
color:black !important;  }

.fst::-webkit-input-placeholder {
   color:black ;
}

.fst:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

.fst::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}
.navbar-inverse
{
	background-color: #676867;
	border:inherit;
	border-radius: inherit;
	margin-top: 12px;
}
.navbar-brand 
{
	padding: 15px 40px!important;
}
.navbar
{
	margin-bottom: inherit;
}
.apus
{
	font-size: 30px;
}
.abtcol
{
	margin-left: 21.6%;
}
.second {
    margin-top: 7%;
    z-index: -2;
}
.fstcntnt
{
	font-size: 14px;
	margin-top: 24px;
}
.fstimg
{
	margin-top:20px;
}
.cntct
{
	font-size: 30px;
}
.third
{
	margin-top: 22px;
}
.cntctcol
{
	margin-left: 21.6%;
}
.jst
{
	font-size: 14px;
	margin-top: 24px;
}
.brd
{
height:51px;
	width:100%;
	border:inherit;
	border-radius: inherit;
	border-style: solid;
    border-color: #FF5D78;
    border-width: 1px;
    margin-top: 30px;	
}
.brd:-ms-input-placeholder {  
color:black !important;  }

.brd::-webkit-input-placeholder {
   color:black ;
}

.brd:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

.brd::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}
.form-group input
{
	padding-left: 50px;
}
.faq
{
	font-size: 30px;
}
.forth
{
	margin-top: 22px;
        margin-bottom: 22px;
}
.faqcol
{
	margin-left: 21.6%;
}
.brief
{
	font-size: 14px;
	margin-top: 24px;
}
.linked
{
list-style: none;
padding: 0;
margin-top: 28px;
}
.items a
{
	color:black;
	line-height: 1.9;
}




.wnt
{
	text-align: center;
	margin-top: 52px;
	font-size: 13px;
	margin-bottom: 28px;
	
}
.callus
{
	text-align: center;
	margin-top: 24px;
	font-size: 13px;
	margin-bottom: 28px;
	
	
}
.abt
{
	text-align: center;
	margin-top: 24px;
	font-size: 13px;
	margin-bottom: 28px;
	
}
.all
{
text-align: center;
	margin-top: 24px;
	font-size: 13px;
}
.lst
{
	/*background:#F0F0F0;*/

background: url(../images/fullarrow.jpg);
	background-size: cover;
	   height: 300px;
	   color:white;
	

}
.socil
{
	
	position: absolute;
    color: white;
    font-size: 60px;
    margin-top: -269px;
    margin-left: 73px;
}
.abt
{
	margin-left: 7px;
}
.cnt
{
margin-left: 7px;

}
.faqand
{
margin-left: 7px;

}
.fsti
{
margin-left: 7px;	
}
.scndi
{
	margin-left: 7px;
}
.ftr1
{
	margin-left: 7px;
}
.ftr2
{
	margin-left: 7px;
}
.ftr3
{
	margin-left: 7px;
}
.ftr4
{
	margin-left: 7px;
}
.ftr5
{
	margin-left: 7px;
}
.ilst
{
	margin-left: 5px;
}


.abt a
{
color:white !important;
text-decoration:none;
}
.cnt a
{
color:white !important;
text-decoration:none;
}
.containfluid
{
	background-color: #ebecec
}
.navbar-inverse .navbar-nav li a
{
	color:white !important;
	cursor: pointer;
}
.navbar-inverse .navbar-nav li a:hover
{
    color: pink!important;

}
@media(max-width: 768px){
	.fst
	{
width:100%;
	}
	.textcol
	{
		margin-left: 0px;
	}
	.imgcol
	{
		padding-left: 10px!important;
	}
	.icon
	{
		margin-left: 0px;
	}
	.abtcol
	{
		margin-left: 0px!important;
	}
	.cntctcol
	{
		margin-left: 0px!important;
	}
	.faqcol
	{
		margin-left: 0px!important;
	}
	.second {
    margin-top: 45%;
    z-index: -2;
}

}
.items a
{
	text-decoration: none;
	font-size: 13px!important;
}
.fixed
{    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #fff;
}
@media(min-width:1920px){
.icon 
{
    margin-left: 23.88%;
    margin-top: 22px;
}
.navbar-brand 
{
    padding: 15px 54px!important;
}
}