@font-face{
	font-family:"Segoe";
	src:url("../fonts/segoui.ttf");

}
body{
font-family:"Segoe";
    font-weight:600
}
.fsttext
{
	font-size: 12px;

}
.first
{
	margin-top: 33px;
}
.textcol
{
	margin-top: 1px;
	margin-left: -76px;
}
.plne
{
	color:pink;
	 color:#FF5D78;
}
.imgcol
{
	/*margin-left: 1%;*/
	margin-left: 5.8%;
}
.icon
{
	
	margin-top: 24px;
	margin-left:11.5%;
}
@media(min-width: 992px){
.bnglrcol
{
	margin-left: -74px;
}
}
.bnglrcol
{
	margin-top: 28px;
}
.bnglr
{
	font-size: 12px;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 50px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 19px 12px;
    pointer-events: none;
    color:#FF5D78;
}
.fst
{
	height:51px;
	width:109%;
	border:inherit;
	border-radius: inherit;
	border-style: solid;
    border-color: #FF5D78;
    border-width: 1px;
}
.fst:-ms-input-placeholder {  
color:black !important;  }

.fst::-webkit-input-placeholder {
   color:black ;
}

.fst:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

.fst::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}
.navbar-inverse
{
	background-color: #676867;
	border:inherit;
	border-radius: inherit;
	margin-top: 12px;
}
.navbar-brand 
{
	padding: 15px 41px;
}
.navbar
{
	margin-bottom: inherit;
}
.showing
{
	font-size: 19px;
}
.second
{
	margin-top: 16%;
}
.hr1
{
	/*color:#ebecec !important;*/
	border-top: 1px solid  #B8C3C3;
}
.rated
{
	font-size: 13px;
}
.fstimg
{
	margin-top: 30px!important;
	margin-bottom: 30px!important;
}
.third
{
	margin-top: 11px;
}

.imgsecndcol
{
	padding:0px;
}
.fstlist
{
	float:left;
	list-style: none;
	padding:0px;
        padding-left:17px;
}
.iteams1
{
	float:left;
}
.iteams12 {
    float: left;
    padding-left: 232px;
}
.fstfont
{
	float:left;
	padding-left: 11px;
	color:#FF5D78;;
}

.sub2
{
	margin-top: 16px;
	background: white;
        margin-left: 1px;
      padding-bottom: 35px;





}
.imgsubcol 
{
	margin-top: 13px;
}
.subcntntcol
{
	margin-top: 9px;
        padding:0px;
}
.sub3
{
	margin-top:6px;
	background: white;
    margin-left: 1px;
    padding-bottom: 35px;
}
.bg
{
	background-color: #ebecec;
        padding-bottom:20px;
}
.modal-header 
{
   
    border: none;!important;
}
.modal-footer
{
	 border: none;!important;

}
.brd
{
	width: 75%;
    height: 48px;
     border-color: #FF5D78
}
.brd1
{
    width: 75%;
    height: 80px;	
    border-color: #FF5D78
}
.fstdefaultbtn
{
border-color: #FF5D78;
margin-left:51.7%;
}
.modal-header .close
{ 
	color:#FF5D78;
}
.btn-default:hover
{
	background-color: white;
}
.brd1:-ms-input-placeholder {  
color: #FF5D78!important;  }

.brd1::-webkit-input-placeholder {
   color: #FF5D78 ;
}

.brd1:-moz-placeholder { /* Firefox 18- */
   color:  #FF5D78;  
}

.brd1::-moz-placeholder {  /* Firefox 19+ */
   color:  #FF5D78;  
}

.brd:-ms-input-placeholder {  
color: #FF5D78!important;  }

.brd::-webkit-input-placeholder {
   color: #FF5D78 ;
}

.brd:-moz-placeholder { /* Firefox 18- */
   color:  #FF5D78;  
}

.brd::-moz-placeholder {  /* Firefox 19+ */
   color:  #FF5D78;  
}
.spn
{
	color: #FF5D78;
}
.modal-title
{
	color: #FF5D78;
}
.modal-content
{
	border-width:1px;
	border-style: solid;
	color: #FF5D78;
}
.btn1
{
	width: 35%;
    height: 34px;
    border-radius: 18;
    border-width: 1px;
    border-radius: 35;
    margin-left: 18%;
    margin-top: 3%;
   background-color: #FF5D78;
}



.wnt
{
	text-align: center;
	margin-top: 52px;
	font-size: 13px;
	margin-bottom: 28px;
	
}
.callus
{
	text-align: center;
	margin-top: 24px;
	font-size: 13px;
	margin-bottom: 28px;
	
	
}
.abt
{
	text-align: center;
	margin-top: 24px;
	font-size: 13px;
	margin-bottom: 28px;
	
}
.all
{
text-align: center;
	margin-top: 24px;
	font-size: 13px;
}
.lst
{
	/*background:#F0F0F0;*/

background: url(../images/fullarrow.jpg);
	background-size: cover;
	   height: 300px;
	   color:white;

	

}
.socil
{
	
	position: absolute;
    color: white;
    font-size: 60px;
    margin-top: -269px;
    margin-left: 73px;
}
.abt
{
	margin-left: 7px;
}
.cnt
{
margin-left: 7px;

}
.faqand
{
margin-left: 7px;

}
.fsti
{
margin-left: 7px;	
}
.scndi
{
	margin-left: 7px;
}
.ftr1
{
	margin-left: 7px;
}
.ftr2
{
	margin-left: 7px;
}
.ftr3
{
	margin-left: 7px;
}
.ftr4
{
	margin-left: 7px;
}
.ftr5
{
	margin-left: 7px;
}
.ilst
{
	margin-left: 5px;
}
.abt a
{
color:white !important;
text-decoration:none;
}
.cnt a
{
color:white !important;
text-decoration:none;
}
.sbmit
{
	font-size: 23px;
    color: black;
    font-weight: 600;
}




@media(max-width:768px){
	.fst 
	{
    
    width: 100%;
   
}
.icon 
{
     margin-left: 0px; 
    margin-top: 24px;
}
.textcol {
    margin-top: 1px;
     margin-left: 0px; 
}
.iteams12 {
    float:none;
    padding-left: 0px;
}
.imgcol {
    /* margin-left: 1%; */
    margin-left: 0;
}
.icon {
    
    margin-top: 14px;
}
.bnglrcol 
{
    margin-top: 19px;
}
.second 
{
    margin-top: 126%;
}
.imgsecndcol 
{
    padding: inherit!important; 
}
.profileimgcol
{
padding:inherit;
}
.userreviewcol
{
padding:inherit;
}
}
 .third1
 {
 	margin-top: 11px;
 	margin-bottom: 20px;
 }
body, html {
  height: 100%;
}
.bodywrapper {
  overflow: auto;
  height: 100%;
}

/* unset bs3 setting */
.modal-open {
 overflow: auto; 
}

/* extra stetting for fixed navbar, see bs3 doc
*/

.sub4
{
	margin-top: 33px;
}
.btnfollow
{
	width: 100px;
    height: 33px;
    background: white;
    border-width: 2px;
    border-style: solid;
    margin-left: 7px;
}
.ulcol
{
padding: 0!important;
}
.fixed
{    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #fff;
}
.ratingsymbol
{
	color:#FF5D78;
}
.navbar-inverse .navbar-nav li a {
    color: white;
    cursor:pointer;
}
.iteamsbtn
{
	float:left;
}
.imgrowtwo
{
	margin-top:6px;
}
.imgrowone
{
	margin-top:49px;
}
.subname
{
font-size:16px;
}
.listview
{
width:109%;
}
.cover 
{
  object-fit: cover;
      width: 100%;
  height: 287px;
}
.cover1 
{
  object-fit: cover;
      width: 100%;
  height: 140px;
}
.cover2 
{
  object-fit: cover;
      width: 100%;
  height: 140px;
}
@media(min-width:1920px){
.second 
{
    margin-top: 20%!important;
}
.imgcol {
    
    margin-left: 19.2%!important;
}
.textcol {
    margin-top: 1px;
    margin-left: -185px;
}
.fst 
{
    
    width: 76%;
    
}
.icon {
    
    margin-left: -9.3%;
}
.bnglrcol {
   margin-left: -127px;
}
.navbar-brand 
{
    padding: 15px 185px!important;
}
}
@media(min-width:1600px){
.imgcol 
{
    
    margin-left: 12.6%;
}
.fst 
{
    
 width: 91%;
}
.textcol 
{
   
    margin-left: -130px;
}
.icon 
{
    
    margin-left: -0.1%;
}
.navbar-brand 
{
    padding: 15px 103px;
}
}
@media(min-width:992px){
.fstdefaultbtn
{
 margin-top: -6px;
}
.sub2 
{
    margin-top: 19px;
}
}
.profileimgcol
{
margin:0px;
padding:0 7px;
}
.userreviewcol
{
margin:0px;
padding:0 7px;
}
.showingarccol
{
padding: 0px 6px;
}