@font-face{
	font-family:"Segoe";
	src:url("../fonts/segoui.ttf");

}
body{
font-family:"Segoe";
    font-weight:600
}
.fsttext
{
	font-size: 12px;

}
.first
{
	margin-top: 33px;
}
.textcol
{
	margin-top: 1px;
	margin-left: -76px;
}
.plne
{
	color:pink;
	 color:#FF5D78;
}
.imgcol
{
	
	margin-left: 5.4%;
        
}
.icon 
{
    margin-top: 24px;
   margin-left: 11.3%;
   
}
@media(min-width: 992px){
.bnglrcol
{
	margin-left: -74px;
}
}
.bnglrcol
{
	margin-top: 28px;
}
.bnglr
{
	font-size: 12px;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 50px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 19px 12px;
    pointer-events: none;
    color:#FF5D78;
}
.fst
{
	height:51px;
	width:105%;
	border:inherit;
	border-radius: inherit;
	border-style: solid;
    border-color: #FF5D78;
    border-width: 1px;
}
.fst:-ms-input-placeholder {  
color:black !important;  }

.fst::-webkit-input-placeholder {
   color:black ;
}

.fst:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

.fst::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}
.navbar-inverse
{
	background-color: #676867;
	border:inherit;
	border-radius: inherit;
	margin-top: 12px;
}
.navbar-brand 
{
	padding: 15px 43px;
 }       
.navbar
{
	margin-bottom: inherit;
}
.nav li a
{
	padding: 16px 4px;
}
.gallery
{
    display: inline-block;
    margin-top: 20px;
}
.fstheading
{
	font-size:20px;
}
.sub1
{
	font-size: 15px;
}
.fstimg
{
	margin-top: -4%;
    margin-left: 24.5%;
    position: absolute;
}
.fstcol 
{
	margin-top:30px;
}
.btn1
{
	float: right;
    margin-top: -3%;

	width: 100px;
    height: 33px;
    background: white;
    border-width: 2px;
    border-style: solid;
    border-color:#FF6295
}
.hr1
{
	/*color:#ebecec !important;*/
	border-top: 1px solid  #B8C3C3;
	margin-top: 30px;
	margin-bottom:30px;
}
.official
{
	margin-top: 23px;
    margin-left: 18px;
    font-size: 14px;
}
.see
{
	margin-top: 23px;
    margin-left: 18px;
    color:#FF4377;
    font-size: 14px;
}
.sub3
{
	margin-top: 15px;
}
.detailscol
{
	background-color: white;
        min-height:287px;
}
.spn1
{
	font-size: 17px;
}
.spn2
{
	font-size: 17px;
}
.est
{
	margin-top:16px;
	font-size: 17px;
}
.rating
{
	margin-top:16px;
	font-size:17px;
}
.perfstcol
{
	margin-top:1%;
	margin-bottom: 1%
}
.perscndcol
{
	margin-top:1%;
	margin-bottom: 1%
}
.persnrow
{
	background:white;
}
.persnrow3
{
	margin-top:1.5%;
	background:white;
}
.persnrow2
{
	margin-top:1.5%;
	background:white;
}
.rounds
{
	margin-top: 2%;
	margin-bottom: 2%;
}
.roundshape
{
	padding:0 15px;
	color:#FF4377;
}
.roundcol
{
	margin-left: 38%;
}
.persnrow4
{
	margin-top:1.5%;
	background:white;
}
.persnrow5
{
	margin-top:1.5%;
	background:white;
}
.help
{
	text-align: center;
	color:#FF4377;
}
.lastone
{
	margin-bottom:1.5%;
}

.wnt
{
	text-align: center;
	margin-top: 52px;
	font-size: 13px;
	margin-bottom: 28px;
	
}
.callus
{
	text-align: center;
	margin-top: 24px;
	font-size: 13px;
	margin-bottom: 28px;
	
	
}
.abt
{
	text-align: center;
	margin-top: 24px;
	font-size: 13px;
	margin-bottom: 28px;
	
}
.all
{
text-align: center;
	margin-top: 24px;
	font-size: 13px;
}
.lst
{
	/*background:#F0F0F0;*/

background: url(../images/fullarrow.jpg);
	background-size: cover;
	   height: 300px;
	   color:white;
	

}
.socil
{
	
	position: absolute;
    color: white;
    font-size: 60px;
    margin-top: -269px;
    margin-left: 73px;
}
.abt
{
	margin-left: 7px;
}
.cnt
{
margin-left: 7px;

}
.faqand
{
margin-left: 7px;

}
.fsti
{
margin-left: 7px;	
}
.scndi
{
	margin-left: 7px;
}
.ftr1
{
	margin-left: 7px;
}
.ftr2
{
	margin-left: 7px;
}
.ftr3
{
	margin-left: 7px;
}
.ftr4
{
	margin-left: 7px;
}
.ftr5
{
	margin-left: 7px;
}
.ilst
{
	margin-left: 5px;
}


.abt a
{
color:white !important;
text-decoration:none;
}
.cnt a
{
color:white !important;
text-decoration:none;
}
.fixed
{    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #fff;
}
.second
{
	margin-top:15%;
}
.personrowstart
{
	margin-bottom:1.5%;
}
.containfluid
{
	background-color: #ebecec;
        padding-bottom:16px;
}
.containerfst
{
padding-left: 0;
}
.containersecond
{
	padding:0;
}
.thirdhead
{
	padding-left:1.2%;
	font-size: 14px;
	font-weight:600;
}
@media(max-width:768px){
	.imgcol
	{
margin-left:0px;
	}
	.textcol
	{
		margin-left:0px;
	}
	.fst
	{
		width:50%;
	}
	.containerfst
	{
		padding-left:inherit!important;
		margin-top:0px;
	}
	.containersecond
	{
		padding:17px;
	}
	.second 
	{
    margin-top: 96%;
}
.fstimg 
{
    margin-top: -26%;
    margin-left: 82.5%;
    position: absolute;
}
.first {
     margin-top: 0px; 
}
.icon {
    margin-top: 5px; 
}
.bnglrcol {
    margin-top: 5px; 
}
}
.navbar-inverse .navbar-nav li a {
    color: white;
    cursor:pointer;
}
.ratingsymbol12
{
	color:#FF4377;
}
.spn3
{
color:#FF4377;	
}
.individualdetails
{
	font-size:15px;
}
.detailedlistview
{
width:105%;
}
.persnrow
{
margin-bottom:17px;
}
@media(min-width:992px){
.perscndcol {
    
    margin-left: -15px;
}
}
@media(min-width:241px) and (max-width:320px){
.detailedlistview 
{
    width: 57%;
}
}
@media(min-width:1920px){
.imgcol 
{
    margin-left: 18.4%!important;
}
.textcol 
{
    
    margin-left: -185px!important;

}
.fst 
{
    
    width: 75%;
   
}
.icon 
{
    margin-top: 24px!important;
    margin-left: -9.5%!important;
}
.bnglrcol 
{
   margin-left: -122px!important; 
}
.navbar-brand 
{
    padding: 15px 180px!important;
}
}
@media(min-width:1600px){
.imgcol {
    
    margin-left: 12%;
}
.fst{
    
    width: 91%;
    
}
.textcol 
{
    
    margin-left: -120px;
}
.icon 
{
   
    margin-left: -0.5%;
}
.navbar-brand 
{
    padding: 15px 100px;
}
}
.cover 
{
  object-fit: cover;
      width: 100%;
  height: 287px;
}
@media(min-width:992px){
.fancyboxfstcol
{
	width: 21.2%;
}
.fancyboxscndcol
{
	width: 21.2%;
    margin-left: -20px;
}
.fancyboxthrdcol
{
	width: 21.2%;
    margin-left: -19px;
}
.fancyboxfrthcol
{
	width: 21.2%;
    margin-left: -19px;
}
.fancyboxfvthcol
{
	width: 21.2%;
    margin-left: -19px;
}
}
.detailedimgcol
{
margin: 0;
padding: 0 9px 0 15px;
}
.cover1 
{
  object-fit: cover;
      width: 100%;
  height: 155px;
}
.cover2
{
  object-fit: cover;
      width: 100%;
  height: 155px;
}
.cover3 
{
  object-fit: cover;
      width: 100%;
  height: 155px;
}
.cover4 
{
  object-fit: cover;
      width: 100%;
  height: 155px;
}
.cover5 
{
  object-fit: cover;
      width: 100%;
  height: 155px;
}