@font-face{
	font-family:"Segoe";
	src:url("../fonts/segoui.ttf");

}
body
{
font-family:"Segoe" !important;
    font-weight:600;
    background-color:#EBECEC;
}
.fsttext
{
	font-size: 12px;

}
.first
{
	margin-top: 6px;
}
.textcol
{
	margin-top: 1px;
	margin-left: -48px;
}
.plne
{
	color:pink;
	 color:#FF5D78;
}

.icon
{
	padding-left: 63px;
	margin-top: 24px;
}
@media(min-width: 992px){
.bnglrcol
{
	margin-left: -29px;
}
}
.bnglrcol
{
	margin-top: 28px;
}
.bnglr
{
	font-size: 12px;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 50px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 19px 12px;
    pointer-events: none;
    color:#FF5D78;
}
.fst
{
	height:51px;
	width:172%;
	border:inherit;
	border-radius: inherit;
	border-style: solid;
    border-color: #FF5D78;
    border-width: 2px;
}
.fst:-ms-input-placeholder {  
color:black !important;  }

.fst::-webkit-input-placeholder {
   color:black ;
}

.fst:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

.fst::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}
.navbar-inverse
{
	background-color: #676867;
	border:inherit;
	border-radius: inherit;
	margin-top: 12px;
}
.navbar-brand 
{
	padding: 15px 87px;
}
.navbar
{
	margin-bottom: inherit;
}
.apus
{
	font-size: 30px;
}
.abtcol
{
	margin-left: 21.6%;
}
.second {
    margin-top: 7%;
    z-index: -2;
}
.fstcntnt
{
	font-size: 14px;
	margin-top: 24px;
}
.fstimg
{
	margin-top:20px;
}
.cntct
{
	font-size: 30px;
}
.third
{
	margin-top: 22px;
}
.cntctcol
{
	margin-left: 21.6%;
}
.jst
{
	font-size: 14px;
	margin-top: 24px;
}
.brd
{
height:51px;
	width:100%;
	border:inherit;
	border-radius: inherit;
	border-style: solid;
    border-color: #FF5D78;
    border-width: 1px;
    margin-top: 30px;	
}
.brd:-ms-input-placeholder {  
color:black !important;  }

.brd::-webkit-input-placeholder {
   color:black ;
}

.brd:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

.brd::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}
.form-group input
{
	padding-left: 24px;
}

.items a
{
	text-decoration: none;
	font-size: 13px!important;
}

.secondtop
{
	margin-top: 5%;
}
.jstadd
{
	text-align: center;
}
.imgcol
{
	margin-left: 44.8%
}
.add
{
	text-align: center;
}
.add1
{
	text-align: center;
	margin-top: 16px;
}
.add1 a
{
	text-decoration: none;
	color:black;
}
.submitlast
{
	margin-top: 6%;
    margin-left: 44.5%;
}
.submitlast a
{
	color:black;
	text-decoration: none;
}
.navbar-inverse .navbar-nav li a
{
	color:white;
}
