<meta name="description" content="">
    <meta name="author" content="">

    <title>builder | Interior</title>

     
    

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/font-awesome.css">
   <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/interior.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="full">
<div class="container">
<div class="row first">
<div class="imgcol col-md-2 ">
<img src="images/logo.jpg" class="img-responsive">
</div>
<div class="textcol col-md-5">
 <div class="left-inner-addon ">
    <i class="fa fa-search fa-lg"></i>
    <input type="text"
           class="form-control fst" 
           placeholder="Select the catogory,You want to look at !" />
</div>
</div>
<div class="icon col-md-1 col-md-offset-3">
<i class="fa fa-paper-plane-o plne fa-lg" aria-hidden="true"></i>
</div>
<div class="bnglrcol col-md-1">
<p class="bnglr">Banglore</p>
</div>
</div>
</div>

<nav class="navbar navbar-inverse iteamlist">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav iteams">
        <li><a id="fist"  >Home > interior Designers </a></li>
        
      </ul>
      
    </div>

</nav>
<div class=" bg">
<div class="container">
<div class="row second">
<div class="col-md-12">
<p class="showing">Showing Interior Designers near you</p>
</div>
</div>
</div>
<hr class="container-fluid hr1">

<div class="container">

<div class="row third">
<div class="col-md-5">
<p class="rated">Rated # 1 Interior Designer near you | Rating 4.27/5</p>
<img src="images/img.jpg" class="img-responsive fstimg">
<p class="sandra">Sandra Annate,Newline Interiors<br>
Bellandur,Bengaluru Area</p>
</div>
<div class="col-md-2 imgsecndcol">
<img src="images/imgint2.jpg" class="img-responsive scndimg">
</div>

<div class="col-md-5">
<div class="row sub1">
<div class="col-md-12">
<ul class="fstlist">
<li class="iteams1"> Showing 1 0f 14 reviews</li>
<li class="iteams12">Add reviews</li>
<li class="iteams1"><i class="fa fa-plus fstfont fa-lg" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i></li>
</ul>

</div>
</div>

<div class="row sub2">
<div class="imgsubcol col-md-3">
<img src="images/aa.jpg" class="img-responsive">
</div>
<div class="subcntntcol col-md-8">
<p class="fstctnt">Lorem ipsum dolor sit amet, eius singulis voluptatibus in usu, ad ancillae abhorreant sed. Quo eros quas aeque ex, ea nostro hendrerit his. Aperiri definitionem per te, riri definitionem per te,riri definitionem per te,</p>
</div>
</div>
<div class="row sub3">
<div class="imgsubcol col-md-3">
<img src="images/aa.jpg" class="img-responsive">
</div>
<div class="subcntntcol col-md-8">
<p class="fstctnt">Lorem ipsum dolor sit amet, eius singulis voluptatibus in usu, ad ancillae abhorreant sed. Quo eros quas aeque ex, ea nostro hendrerit his. Aperiri definitionem per te,riri definitionem per te,riri definitionem per te, </p>
</div>
</div>
<div class="row sub4">
<div class="col-md-2 col-md-offset-9">
<button class="btnfollow">Follow</button>
</div>
</div>
</div>
</div>
</div>
<hr class="container-fluid hr1">

<div class="container">
<div class="row third">
<div class="col-md-5">
<p class="rated">Rated # 1 Interior Designer near you | Rating 4.27/5</p>
<img src="images/img.jpg" class="img-responsive fstimg">
<p class="sandra">Sandra Annate,Newline Interiors<br>
Bellandur,Bengaluru Area</p>
</div>
<div class="col-md-2 imgsecndcol">
<img src="images/imgint2.jpg" class="img-responsive scndimg">
</div>

<div class="col-md-5">
<div class="row sub1">
<div class="col-md-12">
<ul class="fstlist">
<li class="iteams1"> Showing 1 0f 14 reviews</li>
<li class="iteams12">Add reviews</li>
<li class="iteams1"><i class="fa fa-plus fstfont fa-lg" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i></li>
</ul>
</div>
</div>
<div class="row sub2">
<div class="imgsubcol col-md-3">
<img src="images/aa.jpg" class="img-responsive">
</div>
<div class="subcntntcol col-md-8">
<p class="fstctnt">Lorem ipsum dolor sit amet, eius singulis voluptatibus in usu, ad ancillae abhorreant sed. Quo eros quas aeque ex, ea nostro hendrerit his. Aperiri definitionem per te, riri definitionem per te,riri definitionem per te,</p>
</div>
</div>
<div class="row sub3">
<div class="imgsubcol col-md-3">
<img src="images/aa.jpg" class="img-responsive">
</div>
<div class="subcntntcol col-md-8">
<p class="fstctnt">Lorem ipsum dolor sit amet, eius singulis voluptatibus in usu, ad ancillae abhorreant sed. Quo eros quas aeque ex, ea nostro hendrerit his. Aperiri definitionem per te,riri definitionem per te,riri definitionem per te, </p>
</div>
</div>
<div class="row sub4">
<div class="col-md-2 col-md-offset-9">
<button class="btnfollow">Follow</button>
</div>
</div>
</div>
</div>
</div>
<hr class="container-fluid hr1">

<div class="container">
<div class="row third">
<div class="col-md-5">
<p class="rated">Rated # 1 Interior Designer near you | Rating 4.27/5</p>
<img src="images/img.jpg" class="img-responsive fstimg">
<p class="sandra">Sandra Annate,Newline Interiors<br>
Bellandur,Bengaluru Area</p>
</div>
<div class="col-md-2 imgsecndcol">
<img src="images/imgint2.jpg" class="img-responsive scndimg">
</div>

<div class="col-md-5">
<div class="row sub1">
<div class="col-md-12">
<ul class="fstlist">
<li class="iteams1"> Showing 1 0f 14 reviews</li>
<li class="iteams12">Add reviews</li>
<li class="iteams1"><i class="fa fa-plus fstfont fa-lg" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i></li>
</ul>
</div>
</div>
<div class="row sub2">
<div class="imgsubcol col-md-3">
<img src="images/aa.jpg" class="img-responsive">
</div>
<div class="subcntntcol col-md-8">
<p class="fstctnt">Lorem ipsum dolor sit amet, eius singulis voluptatibus in usu, ad ancillae abhorreant sed. Quo eros quas aeque ex, ea nostro hendrerit his. Aperiri definitionem per te, riri definitionem per te,riri definitionem per te,</p>
</div>
</div>
<div class="row sub3">
<div class="imgsubcol col-md-3">
<img src="images/aa.jpg" class="img-responsive">
</div>
<div class="subcntntcol col-md-8">
<p class="fstctnt">Lorem ipsum dolor sit amet, eius singulis voluptatibus in usu, ad ancillae abhorreant sed. Quo eros quas aeque ex, ea nostro hendrerit his. Aperiri definitionem per te,riri definitionem per te,riri definitionem per te, </p>
</div>
</div>
<div class="row sub4">
<div class="col-md-2 col-md-offset-9">
<button class="btnfollow">Follow</button>
</div>
</div>
</div>
</div>
</div>
<hr class="container-fluid hr1">
<div class="container">
<div class="row third">
<div class="col-md-5">
<p class="rated">Rated # 1 Interior Designer near you | Rating 4.27/5</p>
<img src="images/img.jpg" class="img-responsive fstimg">
<p class="sandra">Sandra Annate,Newline Interiors<br>
Bellandur,Bengaluru Area</p>
</div>
<div class="col-md-2 imgsecndcol">
<img src="images/imgint2.jpg" class="img-responsive scndimg">
</div>

<div class="col-md-5">
<div class="row sub1">
<div class="col-md-12">
<ul class="fstlist">
<li class="iteams1"> Showing 1 0f 14 reviews</li>
<li class="iteams12">Add reviews</li>
<li class="iteams1"><i class="fa fa-plus fstfont fa-lg" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i></li>
</ul>
</div>
</div>
<div class="row sub2">
<div class="imgsubcol col-md-3">
<img src="images/aa.jpg" class="img-responsive">
</div>
<div class="subcntntcol col-md-8">
<p class="fstctnt">Lorem ipsum dolor sit amet, eius singulis voluptatibus in usu, ad ancillae abhorreant sed. Quo eros quas aeque ex, ea nostro hendrerit his. Aperiri definitionem per te, riri definitionem per te,riri definitionem per te,</p>
</div>
</div>
<div class="row sub3">
<div class="imgsubcol col-md-3">
<img src="images/aa.jpg" class="img-responsive">
</div>
<div class="subcntntcol col-md-8">
<p class="fstctnt">Lorem ipsum dolor sit amet, eius singulis voluptatibus in usu, ad ancillae abhorreant sed. Quo eros quas aeque ex, ea nostro hendrerit his. Aperiri definitionem per te,riri definitionem per te,riri definitionem per te, </p>
</div>
</div>
<div class="row sub4">
<div class="col-md-2 col-md-offset-9">
<button class="btnfollow">Follow</button>
</div>
</div>
</div>
</div>
</div>
<hr class="container-fluid hr1">

<div class="container">
<div class="row third">
<div class="col-md-5">
<p class="rated">Rated # 1 Interior Designer near you | Rating 4.27/5</p>
<img src="images/img.jpg" class="img-responsive fstimg">
<p class="sandra">Sandra Annate,Newline Interiors<br>
Bellandur,Bengaluru Area</p>
</div>
<div class="col-md-2 imgsecndcol">
<img src="images/imgint2.jpg" class="img-responsive scndimg">
</div>

<div class="col-md-5">
<div class="row sub1">
<div class="col-md-12">
<ul class="fstlist">
<li class="iteams1"> Showing 1 0f 14 reviews</li>
<li class="iteams12">Add reviews</li>
<li class="iteams1"><i class="fa fa-plus fstfont fa-lg" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i></li>
</ul>
</div>
</div>
<div class="row sub2">
<div class="imgsubcol col-md-3">
<img src="images/aa.jpg" class="img-responsive">
</div>
<div class="subcntntcol col-md-8">
<p class="fstctnt">Lorem ipsum dolor sit amet, eius singulis voluptatibus in usu, ad ancillae abhorreant sed. Quo eros quas aeque ex, ea nostro hendrerit his. Aperiri definitionem per te, riri definitionem per te,riri definitionem per te,</p>
</div>
</div>
<div class="row sub3">
<div class="imgsubcol col-md-3">
<img src="images/aa.jpg" class="img-responsive">
</div>
<div class="subcntntcol col-md-8">
<p class="fstctnt">Lorem ipsum dolor sit amet, eius singulis voluptatibus in usu, ad ancillae abhorreant sed. Quo eros quas aeque ex, ea nostro hendrerit his. Aperiri definitionem per te,riri definitionem per te,riri definitionem per te, </p>
</div>
</div>
<div class="row sub4">
<div class="col-md-2 col-md-offset-9">
<button class="btnfollow">Follow</button>
</div>
</div>
</div>
</div>
</div>
<hr class="container-fluid hr1">

<div class="container">
<div class="row third1">
<div class="col-md-5">
<p class="rated">Rated # 1 Interior Designer near you | Rating 4.27/5</p>
<img src="images/img.jpg" class="img-responsive fstimg">
<p class="sandra">Sandra Annate,Newline Interiors<br>
Bellandur,Bengaluru Area</p>
</div>
<div class="col-md-2 imgsecndcol">
<img src="images/imgint2.jpg" class="img-responsive scndimg">
</div>

<div class="col-md-5">
<div class="row sub1">
<div class="col-md-12">
<ul class="fstlist">
<li class="iteams1"> Showing 1 0f 14 reviews</li>
<li class="iteams12">Add reviews</li>
<li class="iteams1"><i class="fa fa-plus fstfont fa-lg" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i></li>
</ul>

</div>
</div>
<div class="row sub2">
<div class="imgsubcol col-md-3">
<img src="images/aa.jpg" class="img-responsive">
</div>
<div class="subcntntcol col-md-8">
<p class="fstctnt">Lorem ipsum dolor sit amet, eius singulis voluptatibus in usu, ad ancillae abhorreant sed. Quo eros quas aeque ex, ea nostro hendrerit his. Aperiri definitionem per te, riri definitionem per te,riri definitionem per te,</p>
</div>
</div>
<div class="row sub3">
<div class="imgsubcol col-md-3">
<img src="images/aa.jpg" class="img-responsive">
</div>
<div class="subcntntcol col-md-8">
<p class="fstctnt">Lorem ipsum dolor sit amet, eius singulis voluptatibus in usu, ad ancillae abhorreant sed. Quo eros quas aeque ex, ea nostro hendrerit his. Aperiri definitionem per te,riri definitionem per te,riri definitionem per te, </p>
</div>
</div>
<div class="row sub4">
<div class="col-md-2 col-md-offset-9">
<button class="btnfollow">Follow</button>
</div>
</div>
</div>
</div>
</div>





</div>

<div class="container-fluid lst">
<div class="row sixth">
<div class="col-md-12">
<p class="wnt">want to get in touch?, we'd love to hear from you</p>
<p class="callus">Call us +9180 4207 5287,support@buildr.in<br>
We are available:MON-FRI 11AM-5PA IST,Bangalore India</p>
<p class="abt"><span class="abt"><a href="#">ABOUT PROJECT & US</a> </span> <span class="fsti">|</span>  <span class="cnt"><a href="#">CONTACT & GET ACCESS </a></span> <span class="scndi">|</span>  <span class="faqand"><a href="#"> FAQs & CONCERNS</a></p></span>
<p class="all"><span class="ftr1">Buildr.in</span> <span class="ftr2">|</span> <span class="ftr3">All rights reserved</span><span class="ftr4"> | </span><span class="ftr5">Renenscence Information Service Private Limited - 2016 </span><i class="fa fa-copyright ilst" aria-hidden="true"></i></p>
</div>
</div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add your Reviews</h4>
      </div>
      <div class="modal-body">
       <div class="form-group">
                              
                         
        <input type="text" class="form-control brd" id="name" placeholder="Your Name">
                            
</div>
<div class="form-group">
                              
                         
        <input type="text" class="form-control brd1" id="name" placeholder="Comment">
                            
</div>

      <div class="form-group">
                              
                         
        <button  class="btn1"><span class="sbmit">Submit</span></button>
                            
</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="spn">Close</span></button>
      </div>
    </div>

  </div>
</div>




<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>